
/*Icons*/
.sespymk_home_findfriends:before{content:"\\f0c0";}
/*PEOPLE YOU MAY KNOW WIDGET CSS START HERE*/
.sespymk_remove{
	color:$theme_font_color_light !important;
}
.sespymk_remove:hover{
	background-color:$theme_button_background_color;
	color:$theme_button_font_color !important;
}
.sespymk_list_item_stat a,
.sespymk_sidebar_list_item_stat a,
.sespymk_horrizontal_list_item_stat a,
.sespymk_carousel_nav a i:before{
	color:$theme_font_color_light !important;
}
.sespymk_carousel_nav a{
	background-color:$theme_body_background_color;
}